*.class
*.jar
.DS_Store
.claude
.clj-kondo/.cache/*
.cpcache/
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.lsp
.nrepl-port
/checkouts/
/classes/
/lib/
/target/
CLAUDE.md
pom.xml
pom.xml.asc
